!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    /CSS
    = stylesheet_link_tag 'tutocenter/bootstrap'
    = stylesheet_link_tag 'tutocenter/bootstrap-responsive'
    = stylesheet_link_tag 'tutocenter/font-awesome.min'
    = stylesheet_link_tag 'tutocenter/style'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800'

  %body
    /Header
    = render 'layouts/tutocenter/header'

    /Contenu
    #wrap.container{role: "document"}
      #content.row
        /Contenu
        = yield
        /Menu lateral
        = render 'layouts/tutocenter/menu_lateral'

    /Footer
    %footer

    /Javascripts
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap-transition'
    = javascript_include_tag 'bootstrap-alert'
    = javascript_include_tag 'bootstrap-modal'
    = javascript_include_tag 'bootstrap-dropdown'
    = javascript_include_tag 'bootstrap-tab'
    = javascript_include_tag 'bootstrap-tooltip'
    = javascript_include_tag 'bootstrap-popover'
    = javascript_include_tag 'bootstrap-button'
    = javascript_include_tag 'bootstrap-collapse'
    = javascript_include_tag 'bootstrap-carousel'
    = javascript_include_tag 'jquery.autocomplete'
    = javascript_include_tag 'jquery.fitvids'
    = javascript_include_tag 'tutocenter'
    = javascript_include_tag 'holder/holder'